Source: noggit
Section: libs
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Jan-Pascal van Best <janpascal@vanbest.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 5.0.0), cdbs (>=0.4.48), dpatch (>= 2.0),
 openjdk-6-jdk, ant-optional (>= 1.6.5), junit (>= 3.8.1)
Standards-Version: 3.8.0
Homepage: http://labs.apache.org/labs.html

Package: libnoggit-java
Architecture: all
Depends: openjdk-6-jre | java2-runtime
Suggests: java-virtual-machine
Description: the fast JSON streaming parser and serializer for Java
 The fast JSON streaming parser and serializer for Java. 

Package: libnoggit-java-doc
Architecture: all
Section: doc
Description: documentation for libnoggit-java
 The fast JSON streaming parser and serializer for Java.

 This package contains the API documentation for the Commons CSV library.
